# Temporary files
*.out
*.o
*.exe

# Build products
*.deb
*.build
*.buildinfo
*.changes
*.dsc
*.tar.gz
*.tar.xz

# Debian packaging artifacts
debian/.debhelper/
debian/build/
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/*.debhelper
debian/debhelper-build-stamp
debian/tmp/
debian/run-gcc
debian/*.install
debian/*.links
debian/*.maintscript
debian/*.postinst
debian/*.postrm
debian/*.preinst
debian/*.prerm

# Ignore pkg/ except Arch templates and templates directory
pkg/*
# !pkg/arch/
!pkg/arch/PKGBUILD
!pkg/templates/

# Editor and IDE files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.swp
*~

# System files
.DS_Store
Thumbs.db
